<div id="<%= dom_id your_scaffold %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mystring:</strong>
    <%= your_scaffold.mystring %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this your scaffold", your_scaffold, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this your scaffold', edit_your_scaffold_path(your_scaffold), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
